/* 
  External styles for webflow
  Only applies on local / staging, not in webflow design view
*/
.imb-input-error-message {
  display: none;
}

.imb-multistep > div:nth-child(2)
.imb-multistep > .imb-stepper {
  display: none;
}

.imb-display-none {
  display: none !important;
}

.imb-display-block {
  display: block !important;
}
